@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap");

* {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid white; */
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #696363;
}

section {
  margin: 0 auto;
  max-width: 100%;
  padding: 4rem 6rem;
}

h1 {
  font-size: 4rem;
  margin-bottom: 7rem;
  letter-spacing: 0.15ch;
  font-weight: 500;
  justify-content: center;
  align-content: center;
  text-align: center;
  z-index: 10;
  padding-top: 12rem;
}

h2 {
  margin-top: 2rem;
  font-size: 1.6rem;
}

p {
  margin-bottom: 1rem;
  line-height: 1.2;
  font-size: 16px;
  text-align: left;
  line-height: 200%;
  letter-spacing: 5;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
  display: flex;
  font-size: 1rem;
  align-items: center;
  color: inherit;
}

button :hover {
  color: hotpink;
}

a:hover {
  color: hotpink;
}

a {
  color: #696363;
  text-decoration-line: none;
}

.nav-menu a {
  text-decoration: none;
  color: white;
}

header {
  display: flex;
  flex-wrap: wrap;
  z-index: 100;
}

.header {
  display: flex;
  overflow: visible;
  position: fixed;
  z-index: 100;
  justify-content: flex-end;
  width: 100vw;
  padding: 1.5rem;
  height: 6rem;
  background-color: black;
  opacity: 75%;
}

#close-submenu p {
  font-size: 4rem;
  line-height: 1;
  font-weight: 300;
  transition-property: color;
  transition-duration: 200ms;
  color: #d91904;
  margin: 0;
}

#close-submenu p:hover {
  transition-property: color;
  transition-duration: 200ms;
  color: hotpink;
}

#close-submenu {
  position: fixed;
  left: 3rem;
  top: 1rem;
  display: flex;
  align-items: center;
  height: 6rem;
}

.dropdown-menu {
  display: flex;
  position: fixed;
  padding: 1rem 0 2rem 0;
  justify-content: space-around;
  width: 100%;
  margin: 0 auto;
  transition: all 1s;
  background-color: black;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#makangani {
  font-family: "Shadows Into Light", cursive;
  letter-spacing: 0.7rem;
  margin-top: -1rem;
  margin-left: -2rem;
  position: fixed;
}

.hide-dropdown .dropdown-menu {
  opacity: 0;
  visibility: hidden;
}

nav ul {
  list-style: none;
  margin-top: 2rem;
}

nav h2 {
  text-align: center;
}

.nav-menu {
  width: 33%;
  align-items: center;
  text-align: center;
}

.navleft-menu {
  display: flex;
  justify-content: flex-end;
  margin-top: -1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  align-items: center;
  line-height: 0.2rem;
}

@media (max-width: 599px) {
  .navleft-menu {
    display: none;
  }
}

.navleft-menu h2 {
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.2rem;
  text-decoration-line: none;
}

.navleft-menu img {
  display: flex;
  justify-content: left;
  margin-top: 2rem;
  margin-right: 3.5rem;
}

#scale-in-center {
  -webkit-animation: scale-in-center 1s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: scale-in-center 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

.banner {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: -3rem;
  z-index: -1;
  width: 100%;
  overflow: hidden;
}

.field {
  padding-top: 5rem;
  display: flex;
  flex-wrap: nowrap;
}

@media (max-width: 375px) {
  .field {
    display: none;
  }
}

@media (min-width: 376px) {
  .phone-banner img {
    display: none;
  }
}

.countdown {
  text-align: center;
  color: black;
  margin-bottom: -3rem;
  border: 5px solid black;
  opacity: 80%;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 25px;
  font-size: 30px;
  letter-spacing: 0.5rem;
  justify-content: center;
}

@media (min-width: 375px) {
  .countdown {
    font-size: 15px;
    margin-top: -4rem;
  }

  section {
    padding-top: 5rem;
  }

  .stream-links {
    padding: 0;
  }

  #close-submenu p {
    font-size: 1.5rem;
    text-align: center;
  }

  .phone-banner img {
    max-width: 375px;
    margin-bottom: -3rem;
  }

  .videos iframe {
    width: 100%;
    height: auto;
  }

  .videos {
    padding: 4rem 0 0 0;
  }

  .iconify {
    font-size: 25px;
  }
}

.madewale {
  margin-top: 3.5rem;
  display: fixed;
  justify-content: center;
}

.madewale img {
  display: fixed;
  justify-content: center;
  margin-top: 3.5rem;
  width: 100%;
  max-width: 600px;
}

.babysteps img {
  display: fixed;
  margin-top: 3.5rem;
  justify-content: center;
  width: 100%;
  max-width: 600px;
}

.videos {
  padding: 3rem 0 0 0;
}

.videos iframe {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
}

.rotate-in-ver {
  -webkit-animation: rotate-in-ver 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: rotate-in-ver 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes rotate-in-ver {
  0% {
    -webkit-transform: rotateY(-360deg);
    transform: rotateY(-360deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    opacity: 1;
  }
}
@keyframes rotate-in-ver {
  0% {
    -webkit-transform: rotateY(-360deg);
    transform: rotateY(-360deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    opacity: 1;
  }
}

.tour-info h2 {
  display: flex;
  font-size: 30px;
  color: black;
  letter-spacing: 0.5rem;
  justify-content: center;
  margin-top: 6rem;
  margin-bottom: 2rem;
}

.tour-details {
  border-radius: 25px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border: 5px solid black;
  background-color: rgb(92, 88, 88);

  padding: 2rem 5rem 2rem 5rem;
}

.tour-info h4 {
  font-size: 25px;
  color: black;
}

.tour-info p {
  color: white;
  font-size: 18px;
}

.stream-links h2 {
  display: flex;
  font-size: 30px;
  color: black;
  letter-spacing: 0.5rem;
  justify-content: center;
  text-align: center;
  vertical-align: center;
  padding-top: 2rem;
  margin-bottom: 4rem;
}

.stream-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.spacer {
  padding: 2rem;
  padding-top: 5rem;
}

.iconify {
  font-size: 70px;
}

.contact h2 {
  display: flex;
  font-size: 30px;
  color: black;
  letter-spacing: 0.5rem;
  justify-content: center;
  margin-top: 4rem;
  padding-bottom: 4rem;
}

.social-media {
  display: flex;
  justify-content: center;
  padding-bottom: 8rem;
}

.social-media-icons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.social-media-spacer {
  padding: 1.5rem;
}

footer {
  background-color: black;
  width: 100%;
}

.madeby {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: white;
  margin-bottom: 0rem;
}

.madeby p {
  font-size: 14px;
  letter-spacing: 0.75rem;
  font-family: "Shadows Into Light", cursive;
  text-align: center;
}

.logo {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
