@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap");

* {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid white; */
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #696363;
}

section {
  margin: 0 auto;
  max-width: 100%;
  padding: 4rem 6rem;
}

h1 {
  font-size: 4rem;
  margin-bottom: 7rem;
  letter-spacing: 0.15ch;
  font-weight: 500;
  justify-content: center;
  align-content: center;
  text-align: center;
  z-index: 10;
  padding-top: 12rem;
}

h2 {
  margin-top: 2rem;
  font-size: 1.6rem;
}

p {
  margin-bottom: 1rem;
  line-height: 1.2;
  font-size: 16px;
  position: relative;
  text-align: left;
  line-height: 200%;
  letter-spacing: 5;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
  display: flex;
  font-size: 1rem;
  align-items: center;
  color: inherit;
}

button :hover {
  color: hotpink;
}

a:hover {
  color: hotpink;
}

a {
  color: #696363;
  text-decoration-line: none;
}

.nav-menu a {
  text-decoration: none;
  color: white;
}

header {
  display: flex;
  flex-wrap: wrap;
  z-index: 100;
}

.header {
  display: flex;
  overflow: visible;
  position: fixed;
  z-index: 100;
  justify-content: flex-end;

  width: 100vw;
  padding: 1.5rem;
  height: 6rem;
  background-color: black;
  opacity: 75%;
}

#close-submenu p {
  font-size: 4rem;
  line-height: 1;
  font-weight: 300;
  transition-property: color;
  transition-duration: 200ms;
  color: #d91904;
  margin: 0;
}

#close-submenu p:hover {
  transition-property: color;
  transition-duration: 200ms;
  color: hotpink;
}

#close-submenu {
  position: fixed;
  left: 3rem;
  top: 1rem;
  display: flex;
  align-items: center;
  height: 6rem;
}

.dropdown-menu {
  display: flex;
  position: fixed;
  padding: 1rem 0 2rem 0;
  justify-content: space-around;
  width: 100%;
  margin: 0 auto;
  transition: all 1s;
  background-color: black;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#makangani {
  font-family: "Shadows Into Light", cursive;
  letter-spacing: 0.7rem;
  margin-top: -1rem;
  margin-left: -2rem;
  position: fixed;
}

.hide-dropdown .dropdown-menu {
  opacity: 0;
  visibility: hidden;
}

nav ul {
  list-style: none;
  margin-top: 2rem;
}

nav h2 {
  text-align: center;
}

.nav-menu {
  width: 33%;
  align-items: center;
  text-align: center;
}

.navleft-menu {
  display: flex;
  justify-content: flex-end;
  margin-top: -1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  align-items: center;
  line-height: 0.2rem;
}

.navleft-menu h2 {
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.2rem;
  text-decoration-line: none;
}

.navleft-menu img {
  display: flex;
  justify-content: left;
  margin-top: 2rem;
  margin-right: 3.5rem;
}

.banner {
  display: flex;
  justify-content: center;
  z-index: -1;
  max-width: 100%;
  height: auto;
}

.banner img {
  margin-top: 6rem;
}

.field {
  display: flex;
  flex-wrap: nowrap;
}

.madewale img {
  display: flex;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  margin-top: 3.5rem;
}

.babysteps img {
  display: flex;
  margin-top: 8rem;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
}

.view-content {
  display: flex;
  align-content: center;
  margin-top: 4rem;
  vertical-align: center;
}

.stream-links {
  display: fixed;
  justify-content: center;
  align-items: center;
  vertical-align: center;
}

.stream-links h2 {
  display: flex;
  font-size: 50px;
  color: black;
  letter-spacing: 0.5rem;
  justify-content: center;
  text-align: center;
  vertical-align: center;
  padding-top: 2rem;
  margin-bottom: 3rem;
}

.stream-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  max-width: 100%;
  height: auto;
  padding-left: 2rem;
}

.spacer {
  padding: 2rem;
  padding-top: 5rem;
}

.iconify {
  font-size: 80px;
}

footer {
  background-color: black;
  width: 100vw;
}

.madeby {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: white;
}

.madeby p {
  font-size: 14px;
  letter-spacing: 0.75rem;
  font-family: "Shadows Into Light", cursive;
  text-align: center;
}

.logo {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
